{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="bg-image" style="background-image:url('')"></div>
    <h1 class="text-center mt-5">Bienvenue à bord</h1>
    <p class="text-center mt2">Location de voiture 24h/24 et 7j/7</p>
{% endblock %}
