{% extends 'base.html.twig' %}

{% block title %}BACK OPFFICE{% endblock %}

{% block body %}
    <h1 class="display-4 text-center my-4">BACK OFFICE</h1>
    <p class="text-center">Bienvenue sur votre BackOffice</p>
    <a href="" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES VEHICULES</a>
    <a href="" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES MEMBRES</a>
    <a href="" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES COMMANDES</a>
{% endblock %}
